#aPeliculas:hover{
    color: white !important;
}
#aProfesionales:hover{
    color: white !important;
}
@media screen and (max-width: 433px){
    .foto{
        display:none !important;
    }
    .card{
        width:95% !important
    }
}
@media screen and (max-width: 313px){
    .contCuerpo{
        padding: 10px !important;
    }
}
@media screen and (max-width: 311px){
    #header{
        height: 200px !important;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
    }
    .navbar-brand{
        padding: 0 !important;
    }
    .nav-link{
        margin: 0 !important;
    }
}
